body {
    margin: 0;
    background-color: #1B244A;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 100px;
}

h3, h4 {
    margin-top: 40px;
    margin-bottom: 0;
    font-family: Verdana;
    font-weight: 700;
    color: #EEEEEE;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

.score {
    width: 155px;
    margin: 20px;
}

.display {
    padding-top: 17px;
    font-weight: 400;
    background: #080001;
    color: #F94F6D;
    border-radius: 5px;
}

p {
    margin: 0;
    font-size: 90px;
}

#period {
    width: 80px;
    margin: 10px auto;
    border: none;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
}

button {
    padding: 9px;
    background: transparent;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 18px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    cursor: pointer;
}

#reset-btn {
    display: block;
    min-width: 100px;
    margin: 40px auto;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 24px;
    border: 3px solid #9AABD8;
}